* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

/*Header*/
header {
    position: fixed;
    width: 100%;
    z-index: 9;
    
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */
.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */
.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}

#BarraPrincipal {

    width: 100%;
    background-color: rgb(219, 175, 54);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 5%;
    flex: 1;
}


#BarraPrincipal a {
    text-decoration: none;
}

#BarraPrincipal h1 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin: 0;
    margin-left: 0px;
    /* Elimina el margen predeterminado del título */
}

#BarraPrincipal ul {
    display: flex;
}

/* #BarraPrincipal #IniciarCuenta{
    padding-left: 60%;
} */

#BarraPrincipal li {
    list-style: none;
    padding: 15px;
}

#BarraPrincipal ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#BarraPrincipal ul li a:hover {
    color: white;
}


.nav {

    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: rgb(240, 228, 110);
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav ul {
    list-style: none;
}



.nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 0px 60px;
}

.nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav ul li a:hover {
    color: white;
}

.nav.active {
    background-color: rgb(240, 228, 110);

}

.nav.active,
.nav.active a {
    color: #000;
}

.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover {
    cursor: pointer;
}

.container-icon {
    position: relative;
}

.count-products {
    position: absolute;
    top: 80%;
    right: 0;
   

    background-color: rgb(149, 103, 17);
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    color: white;
}

#contador-productos {
    font-size: 12px;
}

.container-cart-products {
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;

}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: red;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
    position:relative;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}

.cart-empty {
    padding: 20px;
    text-align: center;
}
.info-cart-product{
    font-family: 'Times New Roman', Times, serif;
}


.hidden {
    display: none;
}

.imagen-mediana {
    display: block;
    margin: 0 auto;
    /* Para centrar la imagen horizontalmente */
    width: 50%;
    /* Establece el tamaño de la imagen al 50% del contenedor */
    max-width: 400px;
    /* Limita el tamaño máximo de la imagen a 400px */
}

.parrafo-nosotros {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    /* Tamaño del texto */
    color: #333;
    /* Color del texto */
}

h2 {
    margin-bottom: 20px;
    /* Añade un espacio inferior de 20px entre títulos */
}

hr {
    border: none;
    border-top: 2px solid white;
    /* Línea horizontal de color gris oscuro */
    margin: 20px 0;
    /* Márgenes superior e inferior de 20px */
}

.avatar {
    width: 70px;
    /* Ancho de la imagen del avatar */
    height: 70px;
    /* Altura de la imagen del avatar */
    margin-right: 10px;
    /* Espaciado a la derecha de la imagen del avatar */
    border-radius: 50%;
    /* Para hacer la imagen redonda, si es necesario */
}
@media screen and (max-width:1200px){
   
}
@media screen and (max-width:720px) {
    
    
}
.btn {
 padding: 1.1em 2em;
 background: none;
 border: 2px solid #fff;
 font-size: 15px;
 color: #131313;
 cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: all 0.3s;
 border-radius: 12px;
 background-color: #ecd448;
 font-weight: bolder;
 box-shadow: 0 2px 0 2px #000;
}

.btn:before {
 content: "";
 position: absolute;
 width: 100px;
 height: 120%;
 background-color: #ff6700;
 top: 50%;
 transform: skewX(30deg) translate(-150%, -50%);
 transition: all 0.5s;
}

.btn:hover {
 background-color: #4cc9f0;
 color: #fff;
 box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
 transform: skewX(30deg) translate(150%, -50%);
 transition-delay: 0.1s;
}

.btn:active {
 transform: scale(0.9);
}
/* Estilos generales para el botón de pago */
/* Puedes personalizar más estilos según tus preferencias de diseño */

/* Menú desplegable */

#user-options {
    position: absolute;
    position: absolute; 
    top: 70px; 
    left: -60px; 
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

#user-options li {
    padding: 10px;
    font-size: 16px;
    list-style: none;
}

#user-options li a {
    text-decoration: none;
}

#user-options li a:hover {
    color: #de9842;
}

#user-options li a p:hover {
    color: #de9842;
}