header {
    background-color: #e7991a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #e7991a; /* Color principal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

/* Estilos para la parte izquierda */
#datos {
    width: 100%; 
    box-sizing: border-box;
    margin: 0 auto; 
}

/* Estilos para el formulario y los detalles del pedido */
form {
     width: 100%;
    margin-top: 20px;
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
    border-bottom: 2px solid #e7991a;
    padding-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilos específicos para el método de pago */
#metodoPagoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 5px;
}

/* Estilos para el botón de pago */
button {
    background-color: #e7991a; /* Color principal */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b58212; 
}
